<div class="show_ingredient">
  <div id="user_nav">
    <% if user_signed_in? %>
      Signed in as <%= current_user.email %>. Not you?
      <%= link_to "Sign out", destroy_user_session_path, method: :delete, class: "link_to" %>
    <% else %>
      <%= link_to "Sign up", new_user_registration_path %> or
      <%= link_to "Sign in", new_user_session_path %>
    <% end %>
    <p class="alert"><%= alert %></p>
    <p class="notice"><%= notice %></p>
  </div>

  <div class="inner_ingredient">
    
    <h1><u><%= @ingredient.name %></u></h1>

    <div class="center_ingredient">
      <h3><u>Recipes included in:</u></h3>
      <% @ingredient.recipes.each do |recipe| %>
	<p><%= link_to recipe.name, recipe_path(recipe.id), class: "no_underline" %></p>
      <% end %>


    </div>
      <%= link_to 'Edit', edit_ingredient_path(@ingredient) %> |
      <%= link_to 'Back', list_path(current_user.id) %>
  </div>
</div>
