<p id="notice"><%= notice %></p>

<p>
  <strong>Str:</strong>
  <%= @ingredient.str %>
</p>

<p>
  <strong>Float:</strong>
  <%= @ingredient.float %>
</p>

<p>
  <strong>Str:</strong>
  <%= @ingredient.str %>
</p>

<%= link_to 'Edit', edit_ingredient_path(@ingredient) %> |
<%= link_to 'Back', ingredients_path %>
