<h1>Listing all topics:</h1>

<table>
  <thead>
    <strong><tr>
	<th colspan="4" style="text-align: left">Title</th>
    </tr></strong>
  </thead>
  <tbody>
    <%@topics.each do |topic|%>
      <tr>
	<td><%=topic.title%></td>
	<td><%=link_to 'Show', topic%></td>
	<td><%=link_to 'Edit', edit_topic_path(topic)%></td>
	<td><%=link_to 'Delete', topic, method: :delete, data: {confirm: 'Are you sure?'}%></td>
      </tr>
    <%end%>
  </tbody>
</table>

<br>

<%=link_to new_topic_path do%>
  <div id="button">
    New
  </div>
<%end%>
