<div id="header_bar">
  <h1 id="list_header">Welcome <%= current_user.name %>, here is your shopping list!</h1>
  <br />
  <h3 id="create_ingredient"><%= link_to "Create New Ingredient", new_ingredient_path %></h3>
</div>
<div class="results_container">
  <div id="list_results">
    <h2>Shopping List:</h2>
    <table>
      <thead>
	<tr>
	  <th>Name</th>
	  <th>Quantity</th>
	  <th>Unit</th>
	</tr>
      </thead>
      <% @unique_ingredients.each do |ui| %>
	<tr>
	  <td><%= link_to ui[0], ingredient_path(ui[3]) %></td>
	  <td><%= ui[1] %></td>
	  <td><%= ui[2] %><%= "s" if (ui[1]>1||ui[1]<1) %></td>
	</tr>
      <% end %>
    </table>
  </div>
  <br />
</div>


<div class="results_container" id="recipes">
  <div id="current_recipes">
    <h3>Currently added recipes:</h3>
    <% @list.recipes.each do |recipe| %>
      <% if !recipe.new_record? %>
	<ul>
	  <li><%= link_to recipe.name, recipe_path(recipe.id) %> <%= link_to 'Remove', recipe, method: :delete, data: {confirm: 'Are you sure?'} %></li>
	</ul>
      <% end %>
    <% end %>
    <%= render 'list_recipes/form' %>
  </div>
</div>

<div id="ingredient_recipes">
  <h3>Create New Recipe</h3>
  <%= render 'recipes/form' %>
</div>


