<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @recipe.name %>
</p>

<p>
  <strong>Ingredients:</strong>
  <% @ingredients.each do |ingredient| %>
    <ul>
      <li><%= ingredient %></li>
    </ul>
  <% end %>
</p>

<% if current_user.id == @recipe.user_id %>
  <%= link_to 'Edit', edit_recipe_path(@recipe) %> |
<% end %>
<%= link_to 'Back', list_path(current_user.id) %>
