<div id="user_nav">
  <% if user_signed_in? %>
    Signed in as <%= current_user.email %>. Not you?
    <%= link_to "Sign out", destroy_user_session_path, method: :delete, class: "link_to" %>
  <% else %>
    <%= link_to "Sign up", new_user_registration_path %> or
    <%= link_to "Sign in", new_user_session_path %>
  <% end %>
  <p class="alert"><%= alert %></p>
  <p class="notice"><%= notice %></p>
</div>

<p>
  <strong>Name:</strong>
  <%= @recipe.name %>
</p>

<p>
  <strong>Ingredients:</strong>
  <% @ingredients.each do |ingredient| %>
    <ul>
      <li><%= ingredient %></li>
    </ul>
  <% end %>
</p>

<% if current_user.id == @recipe.user_id %>
  <%= link_to 'Edit', edit_recipe_path(@recipe) %> |
<% end %>
<%= link_to 'Back', list_path(current_user.id) %>
