
<%if user_signed_in? %>
  <br>
  <h3><%= link_to 'Upload New Image', new_image_path %></h3>
  <br>
  <h1>My Images</h1>
  <% if @my_images.empty? %>
    <p>You haven't posted any pictures yet, get to uploading!</p>
  <% end %>
  <div id="container">
    <% @my_images.each do |image| %>
      <%= link_to image_path(image) do %>
	<figure>
	  <%= image_tag root_url + "/images/" + image.filename, size: "150x150", alt: image.filename %>
      </figure>
      <% end %>
    <%end%>
  </div>

  <h1>Pictures Shared With Me:</h1>
  <% if @images_shared_with_me.empty? %>
    <p>Nobody has shared with you, get some friends will ya</p>
  <% end %>
  <div id="container">
    <% @images_shared_with_me.each do |image| %>
      <%= link_to image_path(image) do %>
	<figure>
	<%= image_tag root_url + "/images/" + image.filename, size: "150x150", alt: image.filename %>
	<figcaption><%= image.user.name %></figcaption>
      </figure>
      <%end%>
    <%end%>
  </div>

<%end%>

<h1>Public Images</h1>

<div id="container">
  <% @public_images.each do |image| %>
    <% if image.private == false %>
      <%= link_to image_path(image) do %>
	<figure>
	    <%= image_tag root_url + "/images/" + image.filename, size: "150x150", alt: image.filename %>
	  <figcaption><%= image.user.name %></figcaption>
	</figure>
      <%end%>
    <%end%>
  <%end%>
</div>



