<div id='image_case'>
  <%= image_tag root_url + "/images/" + @image.filename, size: "400x400", alt: @image.filename, :class => "image_style" %>
</div>
  <br>
  <div id="links">
    <%= link_to 'Back to all images', images_path %>

    <% if @image.user != current_user %>
      <p>
	<strong>Owner:</strong>
	<%= @image.user.name %>
      </p>

    <% else %>

	| <%= link_to 'Edit Privacy', edit_image_path %> |
	<%= link_to 'Delete Image', @image, method: :delete, data: { confirm: 'Are you sure?' } %> | 
	<%= link_to 'New Image', new_image_path %>

    <p><strong>Private:</strong> <%=@image.private%></p>
  </div>

<div id='users'>
  <% if @image.private %>
	<table>
	  <thead>
	    <tr><th align="left"><%= render 'image_users/form' %></th></tr>
	    <tr><th align="left"><h5>Users with Access:</h5></th></tr>
	  </thead>
	  <tbody id="user_box">
	    <% @image.image_users.each do |image_user| %>
	      <% if image_user.user != nil %>
		<tr>
		  <td><%= image_user.user.name %></td>
		  <td><%= link_to 'Delete User', image_user, method: :delete, data: { confirm: 'Are you sure?'} %></td>
		</tr>
	      <% end%>
	    <% end %>
	    </tbody>
	</table>
  <% end %>
</div>
<% end %>

<div id='tags'>
  <table>
    <thead>
      <% if current_user == @image.user %>
	<tr><th><h2>Create New Tag</h2></th></tr>
	<tr><th><%= render 'tags/form' %></th></tr>
      <% end %>
      <tr><th align="left"><h2>Tags:</h2></th></tr>
    </thead>

    <tbody>
      <% @image.tags.each do |tag| %>
	<tr>
	  <% if !tag.new_record? %>
	    <td><%= tag.str %></td>
	    <% if current_user == @image.user %>
	      <td><%= link_to 'Edit', edit_tag_url(tag) %></td>
	      <td><%= link_to 'Delete', tag, method: :delete, data: { confirm: 'Are you sure?' } %></td>
	    <% end %>
	  <% end %>
	</tr>
      <% end %>
    </tbody>
  </table
</div>

