<p id="notice"><%= notice %></p>

<%= image_tag root_url + "/images/" + @image.filename, size: "300x300", alt: @image.filename %>


<% if @image.user == current_user %>

  <p><%= link_to 'Delete Image', @image, method: :delete, data: { confirm: 'Are you sure?' } %></p>

  <p><strong>Private:</strong> <%=@image.private%></p>

  <h3>Create New Tag</h3>
  <%= render 'tags/form' %>
  <br>

<% else %>

  <p>
    <strong>Owner:</strong>
    <%= @image.user.name %>
  </p>
<% end %>

<p><strong>Tags:</strong></p>
<% @image_tags.each do |tag| %>
  <% if !tag.new_record? %>
    <%= tag.str %><br>
  <% end %>
<% end %>


<p><%= link_to 'Back to all images', images_path %></p>


<!-- this will be different, just used it to make sure the function works
<%@image.eligible_users.each do |user|%>
  <p><%= user.email %></p>
<%end%>
--!>
