
<%= image_tag root_url + "/images/" + @image.filename, size: "300x300", alt: @image.filename %>


<% if @image.user == current_user %>

  <p><%= link_to 'Delete Image', @image, method: :delete, data: { confirm: 'Are you sure?' } %> | <%= link_to 'New Image', new_image_path %></p>
  

  <p><strong>Private:</strong> <%=@image.private%></p>

  <h3>Create New Tag</h3>
  <%= render 'tags/form' %>
  <% @image.image_users.each do |image_user| %>
    <% #image_user.user.name %>
  <% end %>
  <%= render 'image_users/form' %>
  <br>

<% else %>

  <p>
    <strong>Owner:</strong>
    <%= @image.user.name %>
  </p>
<% end %>

<p><strong>Tags:</strong></p>
<% @image_tags.each do |tag| %>
  <% if !tag.new_record? %>
    <%= tag.str %><%= link_to 'Delete tag', tag, method: :delete, data: { confirm: 'Are you sure?' } %><br>
  <% end %>
<% end %>


<p><%= link_to 'Back to all images', images_path %></p>


