<%= form_for(@ingredient_recipe) do |f| %>
  <% if @ingredient_recipe.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@ingredient_recipe.errors.count, "error") %> prohibited this ingredient_recipe from being saved:</h2>

      <ul>
      <% @ingredient_recipe.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <div class="field">
    <strong><%= @ingredient_recipe.recipe.name %>:</strong>
    <%= f.number_field(:quantity, in: 0.0..100.0, step: 0.125) %>
    <%= f.select :quantity_type, @units %>
  </div>
  <div class="actions">
    <%= f.submit 'Submit' %>
  </div>
<% end %>
